@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: green;
}

h1 {
  font-size: min(7vw, 40px);
  text-align: center;
}
img {
    width: min(15vw, 65px);
    border-radius: 10vw;
    margin-left:  1vw;
    margin-top: 1vw;
}

footer {
  background-color: green;
  position: fixed;
  bottom: 0;
  width: 100%;
}

p {
  text-align: center;
}

main {
  background-color: skyblue;
  width: min(70vw);
  height: min(150vw, 550px);
  margin: auto;
  
}

p {
  font-size: min(3.5vw, 15px);
  text-align: center;
}

div.sep {
  width: 100%;
  height: min(7vw, 40px);
  
}